<h3>Welcome to the Health Logger Application</h3>

<p>Register Email and Password</p>



<form (ngSubmit)="onSubmit()"> 

    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="name">
    <br>
    

    <label for="email">Email:</label>
    <input type="text" name="email" [(ngModel)]="email">
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" [(ngModel)]="password">
    <br>

    <button type="submit">Register</button>

    
</form>
